<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Rentals</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<header>
    <div class="navbar">
        <h1 class="navbar-title">Car Rental Experience</h1>
        <div class="nav-right">
            <button type="submit" class="button">Become a Host</button>
            <button type="button" id="login-button" class="button">Log In</button>
            <img src="../static/Hamburger_icon.svg" id="hamburger-icon" alt="Menu" class="hamburger-icon">
        </div>
    </div>
    <div class="menu" id="menu">
        <a href="#">Home</a>
        <a href="#">Browse Listings</a>
        <a href="#">About Us</a>
        <a href="#">Contact</a>
        <a href="#" id="sign-up-login-link">Sign Up/Login</a>
    </div>
</header>

<main class="content-section">
    <div class = "container">
        <h2>Vehicles Available</h2>
        <div id = "vehicle-listing">
        </div>
    </div>



    </div>


</main>




<footer>
    <div class="container">
        <p>&copy; 2024 Car Rental Experience</p>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
<script src="../static/get_vehicles.js"></script>
</body>
</html>